{% extends 'cats/base.html' %}

{% block title %}Породы котиков | Мир котиков{% endblock %}

{% block content %}
<h1 class="mb-4">Популярные породы кошек</h1>

<div class="list-group">
    <div class="list-group-item">
        <h5>Британская короткошерстная</h5>
        <p>Плюшевые кошки с круглыми глазами и спокойным характером.</p>
    </div>
    <div class="list-group-item">
        <h5>Мейн-кун</h5>
        <p>Одна из самых крупных пород домашних кошек с кисточками на ушах.</p>
    </div>
    <div class="list-group-item">
        <h5>Сфинкс</h5>
        <p>Бесшерстные кошки с необычной внешностью и теплым телом.</p>
    </div>
    <div class="list-group-item">
        <h5>Шотландская вислоухая</h5>
        <p>Кошки с загнутыми вперед ушами и милым выражением мордочки.</p>
    </div>
    <div class="list-group-item">
        <h5>Сиамская</h5>
        <p>Элегантные кошки с голубыми глазами и контрастным окрасом.</p>
    </div>
</div>
{% endblock %}