{% extends 'cats/base.html' %}
{% load static %}

{% block title %}Галерея котиков | Мир котиков{% endblock %}

{% block content %}
<h1 class="mb-4">Галерея котиков</h1>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{% static 'cats/cat1.png' %}" class="card-img-top" alt="Котик">
            <div class="card-body">
                <h5 class="card-title">Мурзик</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{% static 'cats/cat2.png' %}"  class="card-img-top" alt="Котик">
            <div class="card-body">
                <h5 class="card-title">Барсик</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{% static 'cats/cat3.jpeg' %}" class="card-img-top" alt="Котик">
<!--            <img src="cats/images/cat3.jpeg" class="card-img-top" alt="Котик">-->
            <div class="card-body">
                <h5 class="card-title">Рыжик</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{% static 'cats/cat4.png' %}" class="card-img-top" alt="Котик">
            <div class="card-body">
                <h5 class="card-title">Снежок</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{% static 'cats/cat5.png' %}" class="card-img-top" alt="Котик">
            <div class="card-body">
                <h5 class="card-title">Пушистик</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{% static 'cats/cat6.png' %}" class="card-img-top" alt="Котик">
            <div class="card-body">
                <h5 class="card-title">Черныш</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}